.about-section {
  // background-color: #f8f9fa;
  background-color: var(--bg-color);
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  position: relative;
}

.section-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background: var(--highlight-color);
  // background-color: var(--bg-color);
  display: block;
  margin-top: 8px;
}

.about-card {
  // background: #ffffff;
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: var(--shadow-color);
  transition: 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
}

.lead-text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.highlight {
  // color: #0e67a6;
  color: var(--highlight-color);
  font-weight: 600;
}