.projects-section {
  // background-color: #f8f9fa;
  background-color: var(--bg-color);
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  position: relative;
}

.section-title::after {
  content: '';
  width: 60px;
  height: 3px;
  background: var(--highlight-color);
  display: block;
  margin: 8px;
}

.project-card {
  // background: #ffffff;
  background-color: var(--card-bg);
  border-radius: 14px;
  box-shadow: var(--shadow-color);
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.project-subtitle {
  // color: gray;
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 15px;
}

.project-list {
  padding-left: 18px;
}

.project-list li {
  margin-bottom: 8px;
  font-size: 14px;
}