.social-icons a {
  text-decoration: none;
  transition: color 0.3s;
  // color: var(--text-color);
}

#github {
  text-decoration: none;
}

// .social-icons a:hover {
//   // color: #ffc107; // Bootstrap warning color on hover
//   color: var(--text-color);
// }

.footer {
  border-top: var(--navbar-border);
  box-shadow: var(--navbar-shadow);
}

